{% extends 'base.html.twig' %}

{% block title %}Изменить курс{% endblock %}

{% block body %}
    <h1>Изменить курс</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a class="btn btn-outline-secondary mt-3" href="{{ path('app_course_index') }}">Вернуться к курсам</a>

{% endblock %}
